*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: brown;
}

.title{
    text-align: center;
    color: white;
}

.form{
    display: flex;
    justify-content: center

}

.container{
    width:50%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.col-30{
    width: 30%;
    justify-content: center;
    padding: 40px;
}

.button-position{
    display: flex;
    justify-content: center;
}

.button-position button{
    background-color: lightgrey;
    color: blueviolet;
    padding: 5px 10px;
    border-style: none;
}

#button-genera{
    margin-right: 20px;
}

label{
    display: block;
    color: navy;
    margin: 10px;
}

.section-2{
    margin-top: 50px;
}

.row{
    display: flex;
    width: 100%;
    height: 100px;
}

.col{
    width: calc(100% / 5);
}

.display-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, select{
    border-color: blueviolet;
}

.background{
    background-color: grey;
}

